modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Bot Discord"

[[workflows.workflow]]
name = "Bot Discord"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd nz-apostas && python main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
